body{
  background-color: antiquewhite;
  
}


.gifContainer{
  margin: auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.gif {
  padding: 5px;
}

.loader {
  color: rgb(76, 76, 238);
}

button{
  justify-content: center;
}